venv/
output/
__pycache__/
nest-volume/
datasets/
papers_read/
vizs/
*.npz
training/tonotopic_plasticity_bound/id10678_00007_vizs/
training/tonotopic_plasticity_bound/id10797_00002_vizs/
pretrained_models/
*.pth
*.png